#yearParent{
    display :flex;
    flex-direction : row;
    margin-bottom : 10px;
}

#triangleLeft{
    width: 0;
    height: 0;
    margin : 2px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid orange;
}

#year{
    margin : 3px;
    display : flex;
    flex-direction : row;
}

#triangleRight{
    width: 0;
    height: 0;
    margin : 2px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid orange;
    border-right: 15px solid transparent;
}

#month{
    font-size: 20px;
    font-weight: bold;

    display : flex;
    flex-direction: row;
}

#monthLetter{
    font-size: 20px;
    font-weight: bold;
}

/* 팀장이 사원 클릭하는 경우의 페이지에만 출력 */
#memberName{
    display : none;

    margin : 5px;
    margin-bottom : 8px;
    font-size : 20px;
    font-weight: bold;
    color : gray;

 
}

#monthBtnArea{
  display : flex;
  flex-direction: row;
}

.monthBtn{
    padding: 7px 19px;
    margin: 6px;
    border:none;
    border-radius: 10px;

    text-align: center;

    box-shadow: 2px 2px 2px 2px gray;
    background-color: #faf0e4;
}

#navBtn{
    width : 3%;
    height : fit-content;
    margin-left : 10px;
  }

#calendar{
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    table-layout: fixed;
    
    margin : 10px;
    margin-top : 20px;
  }

td {
    border: 1px solid #444444;
    vertical-align: top;
  }

tr{
    border: 1px solid #444444;
    height: 60px;
  }

#scheduleBox{
    width : 60%;
    border:none;
    border-radius: 10px;
    text-align: center;
    font-size : 10px;

    box-shadow: 2px 2px 2px 2px gray;
    background-color: #faf0e4;
    
  }

#modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

#modalContents{
  width: 70%;
  height : 400px;
  background-color: white;
  border : 2px solid wheat;
  margin-left : 14%;
  margin-right : 14%;
  /* overflow: auto; */

  margin-top: 50px;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal{
  display : none;
}

#modalDate{
    margin : 10px;

    position:sticky;
  }

.modalDate{
    width : 30px;
    text-align: center;
}

#modalScheduleParent{
    display : flex;
    flex-direction: column;

    width: 100%;
  }

  #scheduleList{
    display : flex;
    flex-direction: column;
    height : fit-content;
  }

#modalScheduleBox{
    height : 200px;
    margin-bottom : 10px;
    vertical-align: middle;
    border : 2px solid black;
    overflow-y : auto;
  }

#modalTime{
    display: flex;
    flex-direction: row;

    margin-right : 3%;
    padding : 10px;

    border-radius: 10px;
    border : 2px solid orange;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .addTime{
    width : 25px;
    text-align: center;
  }

  #Hour{
    margin : 2px;
  }

  #Minute{
    margin : 2px;
  }

#modalSchedule{
    display : flex;
    flex-direction: row;
    justify-content: space-between;

    width: 98%;
    height : 40px;

    margin-top : 30px;

    border-radius: 10px;
    border : 2px solid orange;
  }

.modalScheduleComment{
    /* margin-top: 5px; */
    margin-left : 10px;
    margin-right : 10px;

    width: 70%;

    border : none;
    background-color: white;
  }

.scheduleBtn{
    height : 25px;
    margin: 5px 10px;
    border:none;
    border-radius: 10px;

    text-align: center;

    box-shadow: 2px 2px 2px 2px gray;
    background-color: #faf0e4;
  }

#modalScheduleAdd{
    display : flex;
    flex-direction: row;
    align-items: center;

    border : 2px solid red;

  }

#addModalTime{
    display : flex;
    flex-direction: column;

    width: 15%;
  border : 2px solid red;
   
}

.triangleTop{
    width: 0;
    height: 0;
    border-bottom: 15px solid orange;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    margin : 2px;
}
.triangleBottom{
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid orange;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    margin : 2px;
}

#updownBtn{
 
    display : flex;
    flex-direction: row;
    justify-content: center;
}

#hideUpBtn{
    display : flex;
    flex-direction: row;
    justify-content: center;

    visibility: hidden;
}

#hideDownBtn{
    display : flex;
    flex-direction: row;
    justify-content: center;

    visibility: hidden;
}

#addModalSchedule{
  border : 2px solid orange;
  width:60%;
  display : flex;
  flex-direction : column;
  align-items: center;
    
}

#xImg{
    width: 20px;
    height : 20px;

    position : absolute;
    right : 17%;
    bottom : 40%;
}

/* 사이드바 */

#navBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: wheat;
    transition: all 0.3s ease;
    overflow : auto;

    z-index : 400;

    display : none;

}

#myInformParent{
    border : 1px solid orange;
    text-align: center;

    padding : 10px;
}

#myInformComment{
    font-weight: bold;
}

#modifyMyInformParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border : 1px solid orange;
}

#modifyBtn{
    width : 60%;

    margin : 10px;
}

#logOutParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border : 1px solid orange;
}

#logOutBtn{
    width : 60%;

    margin : 10px;
}

#quitParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border : 1px solid orange;
}

#quitBtn{
    width : 60%;

    margin : 10px;
}

#memberListParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border : 1px solid orange;

    
}

#memberListComment{
    font-weight: bold;
}

#navCloseBtn{
    width : 30px;
    height : 30px;

    position: absolute;
    right: 0px;
    bottom: 0px;
}


#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300; /*메뉴 부분까지 어두워지지 않게 하기 위해 z-index를 menuwrap보다 작게*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*메뉴 클릭시 메뉴 밖의 화면은 어둡게*/
  }


  @media screen and (max-width : 400px){
    #navBtn{
        width : 10px;
    }

    #scheduleBox{
        width : 60%;

        font-size : 10px;
    }

    #modalScheduleBox{
        width : 100%;
    }
  }