#modifyComment{
    font-size : 20px;
    font-weight: bold;
}

#myform{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin : 10px;
}

#inputBox{
    margin : 10px;
    width: 300px;
    border-radius: 5px;
    border : 2px solid #c9ba9b;
    height : 30px
}

#findIdBtn{
    width: 30%;
    padding: 7px 30px;
    margin:10px;
    border:none;
    border-radius: 10px;

    box-shadow: 2px 2px 2px 2px gray;
    background-color: #faf0e4;
}

#rankParent{
    display : flex;
    flex-direction : row;
}

#departmentParent{
    display : flex;
    flex-direction : row;
}

#Btn{
    font-weight: bold;
}

#duplicateBtn{
    padding: 7px;
    margin:10px;
    border:none;
    border-radius: 10px;



    text-align: center;

    box-shadow: 2px 2px 2px 2px gray;
    background-color: #faf0e4;
}

